.main_entry-page {
  padding: 0 10px;
  text-align: justify;

  h2 {
    text-align: center;
    color: palegoldenrod;
    text-shadow: 1px 1px 2px black;
    -webkit-text-stroke: 0.1px black;
  }

  p {
    color: palegoldenrod;
    text-shadow: 1px 1px 2px black;
  }
}


