.main_entry-page {
  padding: 0 10px;
  text-align: justify;
}

.main_entry-page h2 {
  text-align: center;
  color: palegoldenrod;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke: 0.1px black;
}
.main_entry-page p {
    color: palegoldenrod;
  //-webkit-text-stroke: 0.1px black;
  text-shadow: 1px 1px 2px black;
}
